each item in activities
  .acts
    a(href="detail/#{item._id}")
      img.acts_cover(src="#{item.cover}", alt="活动封面")
      .acts_info
        p #{item.title}
        p #{item.timeFormat}
        img.host_avatar(src='#{item.host.avatar}')
        p #{item.host.username}
