each item in activities
  .acts
    a(href="detail/#{item._id}")
      img(src="#{item.cover}", alt="活动封面")
      .acts_info
        p #{item.title}
        p #{item.timeFormat}
        p #{item.host.username}
