extends layout

block content
  link(rel='stylesheet', href='/pages/admin/admin.css')
  link(rel='stylesheet', href='/pages/home/home.css')
  #admin_wrap
    h1.h1_type #{title}
    .container
      .row
        table.table.table-hover.table-bordered
          thead
            tr
              th.title_blank 活动标题
              th.time_blank 开始时间
              th.place_blank 活动地点
              th 活动Tag
              th 活动详情
              th 封面图片
              th 
          tbody
            each item in activities
              tr(class="item-id-#{item._id}")
                td.title_blank #{item.title}
                td.time_blank #{moment(item.time).format('YYYY/MM/DD HH:mm')}
                td.place_blank #{item.place}
                td.tag_blank 
                  each _item in item.tags
                    .btn.btn-primary.tag(data-toggle="button") #{_item.name}
                td.detail_blank: a(href="detail/#{item._id}"): button.btn.btn-default 察看
                td.pic_blank
                  .acts
                    a(href="detail/#{item._id}")
                    img(src="#{item.cover}", alt="活动封面")
                td.click_blank: button.btn.btn-default(class = "accept_button", data-id="#{item._id}") 通过审核
        ul.pagination
          li
            a.paging(href="/admin?page=#{now_page-1}") &laquo;
          li.active
            a.paging(href="") #{now_page}
          li
            a.paging(href="/admin?page=#{now_page+1}") &raquo;
          li.text_list
            共#{all_page}页 

  script(src="/pages/admin/admin.js")
