extends layout

block content
	h1 #{title}
	dl
		dt 标题
		dd=activity.title
		dt 简介
		dd=activity.summary
		dt 时间
		dd #{moment(activity.time).format('YYYY年 M月 D日 星期E')}
		dt 地点
		dd=activity.place
		dt 发布人
		for each in activity.host
			dd=each.username
		dt 发布者信息
		p #{activity.host_info}
		dt 关注人数
		dd=activity.following_users.length
		dt 参加人数
		dd=activity.joining_users.length
		dt 图片
		dd=activity.images
		dt Tags
		for each in activity.tags
			dd=each.name

	h2 Comment
	if comments.length == 0
		p no comments
	else
		each comment in comments
			div
				p user : #{comment.from.username}
				p createAt : #{moment(comment.meta.updateAt).format('YYYY年 M月 D日 星期E')}
				p content : #{comment.content}
				div.input-group.col-md-2
					input(id="reply_content", type="text",class="form-control", name="reply[content]", placeholder="回复#{comment.from.username}")
					input(type="hidden", name="reply[activity_id]", value="#{activity._id}")
					input(id="reply_to", type="hidden", name="reply[to]", value="#{comment.from._id}")
					input(type="hidden",name="reply[com_id]", value="#{comment._id}")
					span.input-group-btn
						button(class="btn btn-default" type="submit") Go
				if comment.replies.length != 0
					p replies : 
						each reply in comment.replies
							div.row
								div.col-md-4
									p from #{reply.from.username} to #{reply.to.username}
									p content : #{reply.content}
									p createAt : #{moment(reply.createAt).format('YYYY年 M月 D日 星期E')}
							form.form-horizontal(method="post", action="/s-comment-save?type=reply")
								div.input-group.col-md-2
									input(id="reply_content", type="text",class="form-control", name="reply[content]", placeholder="回复#{reply.from.username}")
									input(type="hidden", name="reply[activity_id]", value="#{activity._id}")
									input(id="reply_to", type="hidden", name="reply[to]", value="#{reply.from._id}")
									input(type="hidden",name="reply[com_id]", value="#{comment._id}")
									span.input-group-btn
										button(class="btn btn-default" type="submit") Go
											form.form-horizontal(method="post", action="/s-comment-save?type=reply")
			br

	h2 评论
	form.form-horizontal(method="post", action="/s-comment-save?type=new")
		div.input-group.col-md-2
			input(type="hidden", name="comment[activity_id]", value="#{activity._id}")
			textarea.form-control(type="text", name="comment[content]")
			button.btn.btn-default(type="submit") 提交

	br
	a(href='/home') 返回