extends layout

block content
	link(rel='stylesheet', href='/pages/detail/detail.css')
	#detail_wrap
		.left_wrap
			.act_header


				img.act_cover(src="#{activity.cover}",alt="活动封面")
				.act_info
					h2.act_title #{activity.title}
					p.act_time 开始时间：#{moment(activity.time).format('YYYY年M月DD日 HH:MM')}
					p.act_time 地点：#{activity.place}
					p.act_host 发起者：#{activity.host.username}
					p.act_follow
						span(id="follows")  #{activity.following_users.length}人关注
						span(id="joins") #{activity.joining_users.length}人参加

					if user
						- var flag = 0;
						each following_user in activity.following_users
							if following_user.username == user.username
								- flag = 1
						if flag == 1
							button.left(type="button", disabled="disabled") 已关注
						else
							button.left(id="follow", type="button", data-id="#{activity._id}") 关注

						- flag = 0
						each join_user in activity.joining_users
							if join_user.username == user.username
								- flag = 1

						if flag == 1
							button(type="button", disabled="disabled") 已参加
						else
							button(id="join", type="button", data-id="#{activity._id}") 参加

					else
						button.left(id="not_login_button", type="button") 关注
						button(id="not_login_button", type="button") 参加
	
			.act_main
				h1 活动详情
				pre.act_detail #{activity.detail}
			.act_main
				.act_comments
					h1 评论
					if comments.length == 0
						p 还没有评论哦！你发一条吧！	
						br
					else
						- var i = 1
						each comment in comments
							.row.comment
								.comment_userinfo.col-md-2
									span: img(class="avatar", src="/avatar/test.jpeg",alt="avatar", with="80", height="80")
									span#username #{comment.from.username}
								.comment_content.col-md-6
									span#floor #{i}楼：
									br
									- i++
									span #{comment.content}

								.row.comment_time.col-md-4
										span#time #{moment(comment.meta.updateAt).format('YYYY.M.DD HH:MM')} &nbsp
											a(class="reply_master",href="#",data-comment="#{comment._id}") 回复 &nbsp
											a(class="fold_comment",href="#",data-comment="#{comment._id}") 展开/收起(
												span(id="reply_number#{comment._id}") #{comment.replies.length}
												span )
							br
							.row.replies(id="replies#{comment._id}", style="display:none")
									if comment.replies.length != 0
											each reply in comment.replies
												div.row.areply.col-md-offset-1.col-md-10
														.comment_userinfo.col-md-2
															span: img(class="avatar", src="/avatar/test2.jpeg",alt="avatar", with="60", height="60")
															span#username #{reply.from.username}
														.reply_content.col-md-9
															p#reply_letter 回复#{reply.to.username} 
															p #{reply.content}
												.row.comment_time.col-md-4
													span#time_reply #{moment(reply.createAt).format('YYYY.M.DD HH:MM')}
														&nbsp
														a(class="reply",href="#", data-to="#{reply.from._id}", data-user="#{reply.from.username}",data-comment="#{comment._id}") 回复


														
							.row
								form.form-horizontal.post_reply(id="post_reply#{comment._id}", data-comment="#{comment._id}")
									div.col-md-6.col-md-offset-2.reply_form(id="reply_form#{comment._id}", data-comment="#{comment._id}")
										input(id="reply_content#{comment._id}", type="text",class="form-control", name="reply[content]", placeholder="回复楼主", required)
										input(type="hidden", name="reply[activity_id]", value="#{activity._id}")
										input(id="reply_to#{comment._id}", type="hidden", name="reply[to]", value="#{comment.from._id}")
										input(type="hidden",name="reply[com_id]", value="#{comment._id}")

							hr
							br
					h2 发表评论
					div.row.post_comment
						form.form-horizontal(method="post", action="/s-comment-save?type=new")
							div.input-group.col-md-8
								input(type="hidden", name="comment[activity_id]", value="#{activity._id}")
								textarea.form-control(type="text", name="comment[content]", required)
								button(type="submit") 评论

		.right_wrap
			.act_tags
				h3 该活动的标签
				each item in activity.tags
					.btn.btn-primary.tag(data-toggle="button") #{item.name}

			.act_map
				h3 活动地图
			.host_info
				h3 发起者信息
				pre.act_host_info #{activity.host_info}


	script(src="/pages/detail/jquery.scrollTo.min.js")
	script(src="/pages/detail/FollowAndJoin.js")
	script(src="/pages/detail/reply.js")

