extends layout

block content
  h1 #{title}
  p 用户：#{user.username}

  .container
    .row
      form.form-horizontal(method="post", action="/s-save")
        input(type="hidden", name="activity[_id]", value=activity._id)
        .form-group
            label.col-sm-2.control-label(for="inputTitle") 活动名称
            .col-sm-10
                input#inputTitle.form-control(type="text", name="activity[title]", value=activity.title, required)
        .form-group
            label.col-sm-2.control-label(for="inputSummary") 活动简介
            .col-sm-10
                input#inputSummary.form-control(type="text", name="activity[summary]", value=activity.summary, required)
        .form-group
            label.col-sm-2.control-label(for="inputTime") 时间
            .col-sm-10
                input#inputTime.form-control(type="text", name="activity[time]", value=activity.time, required)
        .form-group
            label.col-sm-2.control-label(for="inputPlace") 地点
            .col-sm-10
                input#inputPlace.form-control(type="text", name="activity[place]", value=activity.place, required)
        .form-group
            label.col-sm-2.control-label(for="inputNumber") 人数
            .col-sm-10
                input#inputNumber.form-control(type="text", name="activity[people_num]", value=activity.people_num, required)
        .form-group
            label.col-sm-2.control-label(for="inputImages") 图片
            .col-sm-10
                input#inputImages.form-control(type="text", name="activity[images]", value=activity.images, required)
        .form-group
            label.col-sm-2.control-label(for="inputCover") 封面
            .col-sm-10
                input#inputCover.form-control(type="text", name="activity[cover]", value=activity.cover, required)

        .form-group
            .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit") 提交


