extends layout

block content
  h1 #{title}
  p 用户：#{user.username}
  p 图片：#{user.avatar}
  .container
      .row
          table.table.table-hover.table-bordered
              tread
                  tr
                      th 活动名称
                      th 时间
                      th 参与人数
                      th 关注人数
                      th 封面
                      th 查看
              tbody
                  each item in activities
                      tr(class="item-id-#{item._id}")
                          td #{item.title}
                          td #{moment(item.time).format('YYYY/MM/DD')}
                          td #{item.joining_users.length}
                          td #{item.following_users.length}
                          td #{item.cover}
                          td: a(target="_blank", href="/detail/#{item._id}") 查看
    a(href='/home', class='text-center new-account') 回到主页

  script(src="/livescript/host.js")