extends layout

block content
  link(rel='stylesheet', href='/pages/home/home.css')
  #home_wrap
    #myCarousel.carousel.slide
      ol.carousel-indicators
        li.active(data-target="#myCarousel", data-slide-to="0")
        li(data-target="#myCarousel", data-slide-to="1")
        li(data-target="#myCarousel", data-slide-to="2")
      
      .carousel-inner
        .item.active
          img(src="images/slide1.png")
          .carousel-caption
            h4 hehe
        .item
          img(src="images/slide2.png")
          .carousel-caption
            h4 hehe
        .item
          img(src="images/slide3.png")
          .carousel-caption
            h4 hehe
      a.carousel-control.left(href="#myCarousel", data-slide="prev")
      a.carousel-control.right(href="#myCarousel", data-slide="next")
    
    button.back_to_top 回到顶部

    #act_area
      ul#myTab.nav.nav-tabs
        li.timing.active(data-id="future")
          a(href="#future") 即将进行
        li.timing(data-id="past")
          a(href="#past") 往期回顾
        li.timing(data-id="all")
          a(href="#all") 所有活动
      .tab-content
        #future.tab-pane.active.fade.in
          .tag_area
            .tag_chosen
              span.title 已选标签：
            .tag_area_main
              .my_tag
                span.title 我订阅的标签：
                .tag_area_main_wrap
                  span.slide_toggle 展开
                  each item in myTags
                    .tag
                      .tag_item(data-id="#{item._id}")
                        span(data-id="#{item._id}") #{item.name}
              .hot_tag
                span.title 热门标签：
                .tag_area_main_wrap
                  span.slide_toggle 展开
                  each item in hotTags
                    .tag
                      .tag_item(data-id="#{item._id}")
                        span(data-id="#{item._id}") #{item.name}
            
          .sort_area
            ul
              li
                span.time.active.sort(data-id="time") 按开始时间排序 ↓
              li
                span.sort(data-id="attention") 按关注人数排序 ↓
              li
                span.sort(data-id="participation") 按参加人数排序 ↓
          .activities-template
            each item in activities
              .acts
                a(href="detail/#{item._id}")
                  img.acts_cover(src="#{item.cover}", alt="活动封面")
                  .acts_info
                    p #{item.title}
                    p #{moment(item.time).format('YYYY/MM/DD HH:MM')}
                    img.host_avatar(src='#{item.host.avatar}')
                    p #{item.host.username}
          ul.pagination
            li.previous
              a(href="#",data-id='0') &laquo;
            each value in pageList
              if value == 1
                li.active
                  a.paging(href="#",data-id='#{value}') #{value}
              else
                li
                  a.paging(href="#",data-id='#{value}') #{value}
            li.next
              a(href="#",data-id='-1') &raquo;

        #past.tab-pane.fade
          .tag_area
            .tag_chosen
              span.title 已选标签：
            .tag_area_main
              .my_tag
                span.title 我订阅的标签：
                .tag_area_main_wrap
                  span.slide_toggle 展开
                  each item in myTags
                    .tag
                      .tag_item(data-id="#{item._id}")
                        span(data-id="#{item._id}") #{item.name}
              .hot_tag
                span.title 热门标签：
                .tag_area_main_wrap
                  span.slide_toggle 展开
                  each item in hotTags
                    .tag
                      .tag_item(data-id="#{item._id}")
                        span(data-id="#{item._id}") #{item.name}
          .sort_area
            ul
              li
                span.time.active.sort(data-id="time") 按开始时间排序 ↓
              li
                span.sort(data-id="attention") 按关注人数排序 ↓
              li
                span.sort(data-id="participation") 按参加人数排序 ↓
          .activities-template
            each item in activities
              .acts
                a(href="detail/#{item._id}")
                  img.acts_cover(src="#{item.cover}", alt="活动封面")
                  .acts_info
                    p #{item.title}
                    p #{moment(item.time).format('YYYY/MM/DD HH:MM')}
                    img.host_avatar(src='#{item.host.avatar}')
                    p #{item.host.username}
          ul.pagination
            li.previous
              a(href="#",data-id='0') &laquo;
            each value in pageList
              if value == 1
                li.active
                  a.paging(href="#",data-id='#{value}') #{value}
              else
                li
                  a.paging(href="#",data-id='#{value}') #{value}
            li.next
              a(href="#",data-id='-1') &raquo;

        #all.tab-pane.fade
          .tag_area
            .tag_chosen
              span.title 已选标签：
            .tag_area_main
              .my_tag
                span.title 我订阅的标签：
                .tag_area_main_wrap
                  span.slide_toggle 展开
                  each item in myTags
                    .tag
                      .tag_item(data-id="#{item._id}")
                        span(data-id="#{item._id}") #{item.name}
              .hot_tag
                span.title 热门标签：
                .tag_area_main_wrap
                  span.slide_toggle 展开
                  each item in hotTags
                    .tag
                      .tag_item(data-id="#{item._id}")
                        span(data-id="#{item._id}") #{item.name}
          .sort_area
            ul
              li
                span.time.active.sort(data-id="time") 按开始时间排序 ↓
              li
                span.sort(data-id="attention") 按关注人数排序 ↓
              li
                span.sort(data-id="participation") 按参加人数排序 ↓
          .activities-template
            each item in activities
              .acts
                a(href="detail/#{item._id}")
                  img.acts_cover(src="#{item.cover}", alt="活动封面")
                  .acts_info
                    p #{item.title}
                    p #{moment(item.time).format('YYYY/MM/DD HH:MM')}
                    img.host_avatar(src='#{item.host.avatar}')
                    p #{item.host.username}
          ul.pagination
            li.previous
              a(href="#",data-id='0') &laquo;
            each value in pageList
              if value == 1
                li.active
                  a.paging(href="#",data-id='#{value}') #{value}
              else
                li
                  a.paging(href="#",data-id='#{value}') #{value}
            li.next
              a(href="#",data-id='-1') &raquo;

  a(href='/create', class='text-center new-account') create an activity
  a(href='/host', class='text-center new-account') my activities
  a(href='/following', class='text-center new-account') my following activities
  a(href='/joining', class='text-center new-account') my joining activities

  script(src="pages/home/home.js")
