extends layout

block content
  link(rel='stylesheet', href='/pages/host/host.css')
  #host_wrap
    #user_message
      .acts_img
        img(src='/#{user.avatar}', alt="头像")
      .user_message_text
        p.user_name #{user.username}
        if user.email == null
          p 邮箱：未填写
        else
          p 邮箱：#{user.email}
        if user.phone_num == null
          p 手机：未填写
        else 
          p 手机：#{user.phone_num}
        if user.qq == null
          p qq号：未填写
        else
          p qq号：#{user.qq}
        if user.weixin == null
          p 微信：未填写
        else
          p 微信：#{user.weixin}
    #act_area
      ul#myTab.nav.nav-tabs
        if act_type == 1
          li.act_type.active(data-id="future")
            a(href="#following") 我关注的 #{following_act.length}
        else
          li.act_type(data-id="future")
            a(href="#following") 我关注的 #{following_act.length}
        if act_type == 2
          li.act_type.active(data-id="past")
            a(href="#joining") 我参加的 #{joining_act.length}
        else
          li.act_type(data-id="past")
            a(href="#joining") 我参加的 #{joining_act.length}
        if act_type == 3
          li.act_type.active(data-id="all")
            a(href="#host") 我发起的 #{host_act_length}
        else
          li.act_type(data-id="all")
            a(href="#host") 我发起的 #{host_act_length}

      .tab-content
        if act_type == 1
          #following.active.tab-pane.fade.in
            .activities-template
              if following_act.length == 0
                .nothing
                  img.empty(src="/images/empty.png")
                  p.text 很抱歉，这里是个荒地哦!
              each item in following_act
                .acts
                  a(href="detail/#{item._id}")
                    .acts_img
                      img(src="#{item.cover}", alt="活动封面")
                    .acts_info
                       .p_message
                        p.act_title #{item.title}
                        p #{moment(item.time).format('YYYY/MM/DD HH:mm')}
                        p #{item.place}
                        p #{item.host.username}
                        p #{item.following_users.length} 人关注    #{item.joining_users.length} 人参加
            if following_act.length != 0
              ul.pagination
                li
                  a.paging(href="/host?fpage=#{following_page-1}") &laquo;
                each i in arr_following_page
                  if i == following_page
                    li.active
                      a.paging(href="/host?fpage=#{i}") #{i}
                  else
                    li
                      a.paging(href="/host?fpage=#{i}") #{i}
                li
                  a.paging(href="/host?fpage=#{following_page+1}") &raquo;

        if act_type != 1
          #following.tab-pane.fade
            .activities-template
              if following_act.length == 0
                .nothing
                  img.empty(src="/images/empty.png")
                  p.text 很抱歉，这里是个荒地哦!
              each item in following_act
                .acts
                  a(href="detail/#{item._id}")
                    .acts_img
                      img(src="#{item.cover}", alt="活动封面")
                    .acts_info
                       .p_message
                        p.act_title #{item.title}
                        p #{moment(item.time).format('YYYY/MM/DD HH:mm')}
                        p #{item.place}
                        p #{item.host.username}
                        p #{item.following_users.length} 人关注    #{item.joining_users.length} 人参加
            if following_act.length != 0
              ul.pagination
                li
                  a.paging(href="/host?fpage=#{following_page-1}") &laquo;
                each i in arr_following_page
                  if i == following_page
                    li.active
                      a.paging(href="/host?fpage=#{i}") #{i}
                  else
                    li
                      a.paging(href="/host?fpage=#{i}") #{i}
                li
                  a.paging(href="/host?fpage=#{following_page+1}") &raquo;

        if act_type == 2           
          #joining.active.tab-pane.fade.in
            .activities-template
              if joining_act.length == 0
                .nothing
                  img.empty(src="/images/empty.png")
                  p.text 很抱歉，这里是个荒地哦!
              each item in joining_act
                .acts
                  a(href="detail/#{item._id}")
                    .acts_img
                      img(src="#{item.cover}", alt="活动封面")
                    .acts_info
                      .p_message
                        p.act_title #{item.title}
                        p #{moment(item.time).format('YYYY/MM/DD HH:mm')}
                        p #{item.place}
                        p #{item.host.username}
                        p #{item.following_users.length} 人关注    #{item.joining_users.length} 人参加
            if joining_act.length != 0
              ul.pagination
                li
                  a.paging(href="/host?jpage=#{joining_page-1}") &laquo;
                each i in arr_joining_page
                  if i == joining_page
                    li.active
                      a.paging(href="/host?jpage=#{i}") #{i}
                  else
                    li
                      a.paging(href="/host?jpage=#{i}") #{i}
                li
                  a.paging(href="/host?jpage=#{joining_page+1}") &raquo;

        if act_type != 2           
          #joining.tab-pane.fade
            .activities-template
              if joining_act.length == 0
                .nothing
                  img.empty(src="/images/empty.png")
                  p.text 很抱歉，这里是个荒地哦!
              each item in joining_act
                .acts
                  a(href="detail/#{item._id}")
                    .acts_img
                      img(src="#{item.cover}", alt="活动封面")
                    .acts_info
                      .p_message
                        p.act_title #{item.title}
                        p #{moment(item.time).format('YYYY/MM/DD HH:mm')}
                        p #{item.place}
                        p #{item.host.username}
                        p #{item.following_users.length} 人关注    #{item.joining_users.length} 人参加
            if joining_act.length != 0
              ul.pagination
                li
                  a.paging(href="/host?jpage=#{joining_page-1}") &laquo;
                each i in arr_joining_page
                  if i == joining_page
                    li.active
                      a.paging(href="/host?jpage=#{i}") #{i}
                  else
                    li
                      a.paging(href="/host?jpage=#{i}") #{i}
                li
                  a.paging(href="/host?jpage=#{joining_page+1}") &raquo;

        if act_type == 3
          #host.active.tab-pane.fade.in
            .activities-template
              if host_act.length == 0
                .nothing
                  img.empty(src="/images/empty.png")
                  p.text 很抱歉，这里是个荒地哦!
              each item in host_act
                .acts
                  a(href="detail/#{item._id}")
                    .acts_img
                      img(src="#{item.cover}", alt="活动封面")
                    .acts_info
                      .p_message
                        if item.status == 1
                          p.act_title #{item.title}
                            span (审核已通过)
                        else
                          p.act_title #{item.title}
                            span (审核中)
                        p #{moment(item.time).format('YYYY/MM/DD HH:mm')}
                        p #{item.place}
                        p #{item.host.username}
                        if item.status == 1
                          p #{item.following_users.length} 人关注    #{item.joining_users.length} 人参加
                          a(href="/following?act_id=#{item._id}") (查看具体信息)
                        else
                          p #{item.following_users.length} 人关注    #{item.joining_users.length} 人参加   
                      .edit
                        a(target="_blank", href="/edit/#{item._id}") 编辑
                      .create_time
                        p 发起时间：#{moment(item.meta.createAt).format('YYYY年MM月DD日 HH:mm')}
            if host_act.length != 0
              ul.pagination
                li
                  a.paging(href="/host?hpage=#{host_page-1}") &laquo;
                each i in arr_host_page
                  if i == host_page
                    li.active
                      a.paging(href="/host?hpage=#{i}") #{i}
                  else
                    li
                      a.paging(href="/host?hpage=#{i}") #{i}
                li
                  a.paging(href="/host?hpage=#{host_page+1}") &raquo;

        if act_type != 3
          #host.tab-pane.fade
            .activities-template
              if host_act.length == 0
                .nothing
                  img.empty(src="/images/empty.png")
                  p.text 很抱歉，这里是个荒地哦!
              each item in host_act
                .acts
                  a(href="detail/#{item._id}")
                    .acts_img
                      img(src="#{item.cover}", alt="活动封面")
                    .acts_info
                      .p_message
                        if item.status == 1
                          p.act_title #{item.title}
                            span (审核已通过)
                        else
                          p.act_title #{item.title}
                            span (审核中)
                        p #{moment(item.time).format('YYYY/MM/DD HH:mm')}
                        p #{item.place}
                        p #{item.host.username}
                        if item.status == 1
                          p #{item.following_users.length} 人关注    #{item.joining_users.length} 人参加
                          a(href="/following?act_id=#{item._id}") (查看具体信息)
                        else
                          p #{item.following_users.length} 人关注    #{item.joining_users.length} 人参加                        
                      .edit
                        a(target="_blank", href="/edit/#{item._id}") 编辑
                      .create_time
                        p 发起时间：#{moment(item.meta.createAt).format('YYYY年MM月DD日 HH:mm')}
            if host_act.length != 0
              ul.pagination
                li
                  a.paging(href="/host?hpage=#{host_page-1}") &laquo;
                each i in arr_host_page
                  if i == host_page
                    li.active
                      a.paging(href="/host?hpage=#{i}") #{i}
                  else
                    li
                      a.paging(href="/host?hpage=#{i}") #{i}
                li
                  a.paging(href="/host?hpage=#{host_page+1}") &raquo;


    script(src="/pages/host/host.js")
