extends layout

block content
  link(rel='stylesheet', href='/pages/host/host.css')
  #host_wrap
    #user_message
      .acts_img
        img(src='/#{user.avatar}', alt="头像")
      .user_message_text
        p.user_name #{user.username}
        if user.email == null
          p 邮箱：未填写
        else
          p 邮箱：#{user.email}
        if user.phone_num == null
          p 手机：未填写
        else 
          p 手机：#{user.phone_num}
        if user.qq == null
          p qq号：未填写
        else
          p qq号：#{user.qq}
        if user.weixin == null
          p 微信：未填写
        else
          p 微信：#{user.weixin}
    #act_area
      ul#myTab.nav.nav-tabs
        li.act_type.active(data-id="future")
          a(href="#future") 我关注的 #{following_act.length}
        li.act_type(data-id="past")
          a(href="#past") 我参加的 #{joining_act.length}
        li.act_type(data-id="all")
          a(href="#all") 我发起的 #{host_act.length}
      .tab-content
        #future.tab-pane.active.fade.in
          .activities-template
            each item in following_act
              .acts
                a(href="detail/#{item._id}")
                  .acts_img
                    img(src="#{item.cover}", alt="活动封面")
                  .acts_info
                    .p_message
                      p.act_title #{item.title}
                      p #{moment(item.time).format('YYYY/MM/DD HH:MM')}
                      p #{item.place}
                      p #{item.host.username}
                      p #{item.following_users.length} 人关注    #{item.joining_users.length} 人参加
          ul.pagination
            li
              a.paging(href="#",data-id='0') &laquo;
            li.active
              a.paging(href="#",data-id='1') 1
            li
              a.paging(href="#",data-id='2') 2
            li
              a.paging(href="#",data-id='3') 3
            li
              a.paging(href="#",data-id='4') 4
            li
              a.paging(href="#",data-id='5') 5
            li
              a.paging(href="#",data-id='-1') &raquo;

        #past.tab-pane.fade
          .activities-template
            each item in joining_act
              .acts
                a(href="detail/#{item._id}")
                  .acts_img
                    img(src="#{item.cover}", alt="活动封面")
                  .acts_info
                    .p_message
                      p.act_title #{item.title}
                      p #{moment(item.time).format('YYYY/MM/DD HH:MM')}
                      p #{item.place}
                      p #{item.host.username}
                      p #{item.following_users.length} 人关注    #{item.joining_users.length} 人参加
          ul.pagination
            li
              a.paging(href="#",data-id='0') &laquo;
            li.active
              a.paging(href="#",data-id='1') 1
            li
              a.paging(href="#",data-id='2') 2
            li
              a.paging(href="#",data-id='3') 3
            li
              a.paging(href="#",data-id='4') 4
            li
              a.paging(href="#",data-id='5') 5
            li
              a.paging(href="#",data-id='-1') &raquo;

        #all.tab-pane.fade
          .activities-template
            each item in host_act
              .acts
                a(href="detail/#{item._id}")
                  .acts_img
                    img(src="#{item.cover}", alt="活动封面")
                  .acts_info
                    .p_message
                      p.act_title #{item.title}
                      p #{moment(item.time).format('YYYY/MM/DD HH:MM')}
                      p #{item.place}
                      p #{item.host.username}
                      p #{item.following_users.length} 人关注    #{item.joining_users.length} 人参加
                    .edit
                      a(target="_blank", href="/edit/#{item._id}") 编辑
          ul.pagination
            li
              a.paging(href="#",data-id='0') &laquo;
            li.active
              a.paging(href="#",data-id='1') 1
            li
              a.paging(href="#",data-id='2') 2
            li
              a.paging(href="#",data-id='3') 3
            li
              a.paging(href="#",data-id='4') 4
            li
              a.paging(href="#",data-id='5') 5
            li
              a.paging(href="#",data-id='-1') &raquo;


    #host_img
      img(src="images/host_pic.png", alt="fuck")







    a(href='/create', class='text-center new-account') 发布活动
    a(href='/home', class='text-center new-account') 回到主页
    script(src="/pages/host/host.js")
