extends layout

block content
  #host_wrap
  h1 #{title}
  p 用户：#{user.username}
  p 头像：#{user.avatar}
  .container
      .row
          table.table.table-hover.table-bordered
              tread
                  tr
                      th 活动名称
                      th 活动详情
                      th 时间
                      th 地点
                      th 参与人数
                      th 关注人数
                      th 封面
                      th 状态
                      th 查看
                      th 修改
                      th 删除
              tbody
                  each item in activities
                      tr(class="item-id-#{item._id}")
                          td #{item.title}
                          td #{item.detail}
                          td #{moment(item.time).format('YYYY/MM/DD')}
                          td #{item.place}
                          td #{item.joining_users.length}
                          td #{item.following_users.length}
                          td #{item.cover}
                          td #{item.status}
                          td: a(target="_blank", href="/detail/#{item._id}") 查看
                          td: a(target="_blank", href="/edit/#{item._id}") 修改
                          td
                              button.btn.btn-danger.del(type="button", data-id="#{item._id}") 删除
    a(href='/create', class='text-center new-account') 发布活动
    a(href='/home', class='text-center new-account') 回到主页
    script(src="/pages/host/host.js")
