extends layout

block content
  link(rel='stylesheet' type='text/css' href='/pages/setting/setting.css')
  style(type="text/css")
    include ../public/bootstrap/css/bootstrap-tagsinput.css


  h1.pagetitle #{title}

  div#basicinfodiv
    h3.subtitle 基本信息

    form(enctype='multipart/form-data' method="post", action="/s-user-save")
      input(type="hidden", name="type", value="basic")
      table
        tr
          td.key 注册邮箱
          td.value #{user.email}
        tr
          td.key 用户名
          td.value
            input.myinput.form-control(type="text", name="user[username]", value=user.username)
        tr
          td.key 性别 #{user.gender}
          td.value.gendertd
            label.genderlabel 汉子&nbsp
            if user.gender == 0
              input(type="radio" name="user[gender]" value="0" checked=True) 
            else
              input(type="radio" name="user[gender]" value="0" checked=False) 
            label.genderlabel &nbsp &nbsp 妹子 &nbsp
            if user.gender == 1
              input(type="radio" name="user[gender]" value="1" checked=True)
            else
              input(type="radio" name="user[gender]" value="1" checked=False)
            label.genderlabel &nbsp &nbsp 保密 &nbsp
            if user.gender == 2
              input(type="radio" name="user[gender]" value="2" checked=True)
            else
              input(type="radio" name="user[gender]" value="2" checked=False)

        tr
          td.key 头像
          td.value 当前头像&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp设置新头像
        tr
          td.key
          td
            img#currentAvatar(src="/upload/avatar/#{user.avatar}")
            input#avatar-input(type='file' name='avatar' style="display: inline")
            image-cropper(input='#avatar-input' preview='#avatar-preview')
              include image-cropper
            div#avatar-preview

        tr
          td.key.tagkey 订阅的Tag
          td.value.tagvalue
            input#inputTags(type="text", value=bookedTagNames, name="user[tags]", data-role="tagsinput")
            br
            - for (var i = 0; i < tagNames.length; ++i)
                button.btn-addTag.btn.btn-default(type="button") #{tagNames[i]}
        tr
          td.key
          td.value
            button.savebtn.btn.btn-default(type="submit") 确认修改



  script(src="/pages/setting/setting.js")
  script(src="/bootstrap/js/bootstrap-tagsinput.js")
