extends layout

block content
  link(rel='stylesheet' type='text/css' href='/pages/setting/setting.css')
  style(type="text/css")
    include ../public/bootstrap/css/bootstrap-tagsinput.css


  h1.pagetitle #{title}

  div#basicinfodiv
    h3.subtitle 基本信息

    form(enctype='multipart/form-data' method="post", action="/s-user-save")
      input(type="hidden", name="type", value="basic")
      table
        tr
          td.key 注册邮箱
          td.value #{user.email}
        tr
          td.key 用户名
          td.value
            input.myinput.form-control(type="text", name="user[username]", value=user.username)
        tr
          td.key 性别
          td.value.gendertd
            if user.gender == 0
              label.genderlabel 汉子&nbsp
                input(type="radio" name="user[gender]" value="0" checked="true") 
              label.genderlabel &nbsp &nbsp 妹子 &nbsp
                input(type="radio" name="user[gender]" value="1") 
              label.genderlabel &nbsp &nbsp 保密 &nbsp
                input(type="radio" name="user[gender]" value="2")

            else if user.gender == 1
              label.genderlabel 汉子&nbsp
                input(type="radio" name="user[gender]" value="0") 
              label.genderlabel &nbsp &nbsp 妹子 &nbsp
                input(type="radio" name="user[gender]" value="1" checked="true")
              label.genderlabel &nbsp &nbsp 保密 &nbsp
                input(type="radio" name="user[gender]" value="2")

            else
              label.genderlabel 汉子&nbsp
                input(type="radio" name="user[gender]" value="0") 
              label.genderlabel &nbsp &nbsp 妹子 &nbsp
                input(type="radio" name="user[gender]" value="1")
              label.genderlabel &nbsp &nbsp 保密 &nbsp
                input(type="radio" name="user[gender]" value="2" checked="true")

        tr
          td.key 头像
          td.value 当前头像&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp设置新头像
        tr
          td.key
          td
            if user.avatar
              img#currentAvatar(src="/#{user.avatar}")
            else
              img#currentAvatar(src="/avatars/unknown.jpg")

            input#avatar-input(type='file' name='avatar' style="display: inline")
            image-cropper(input='#avatar-input' preview='#avatar-preview')
              include image-cropper
            div#avatar-preview

        tr
          td.key.tagkey 订阅的Tag
          td.value.tagvalue
            input#inputTags(type="text", value=bookedTagNames, name="user[tags]", data-role="tagsinput")
            br
            - for (var i = 0; i < tagNames.length; ++i)
                button.btn-addTag.btn.btn-default(type="button") #{tagNames[i]}
        tr
          td.key
          td.value
            button.savebtn.btn.btn-default(type="submit") 确认修改

    hr

    h3.pwdtitle 修改密码
    form(method="post", action="/s-user-save") 
      input(type="hidden", name="type", value="pwd")
      table
        tr
          td.key 原密码
          td.value
            input.myinput.form-control(type="password", name="user[pwdOriginal]")
        tr
          td.key 新密码
          td.value
            input.myinput.form-control(type="password", name="user[pwdNew]")
        tr
          td.key 确认密码
          td.value
            input.myinput.form-control(type="password", name="user[pwdNewConfirm]")
        tr
          td.key
          td.value
            button.savebtn.btn.btn-default(type="submit") 确认修改

    hr

    h3.pwdtitle 真实信息
    form(method="post", action="/s-user-save") 
      input(type="hidden", name="type", value="realInfo")
      table
        tr
          td.key 真实姓名
          td.value
            input.myinput.form-control(type="text", name="user[real_name]" value=user.real_name)
        tr
          td.key 联系方式
          td.value
            input.myinput.form-control(type="text", name="user[phone_num]" value=user.phone_num)
        tr
          td.key QQ
          td.value
            input.myinput.form-control(type="text", name="user[qq]" value=user.qq)
        tr
          td.key 微信
          td.value
            input.myinput.form-control(type="text", name="user[weixin]" value=user.weixin)
        tr
          td.key
          td.value
            button.savebtn.btn.btn-default(type="submit") 确认修改

  script(src="/pages/setting/setting.js")
  script(src="/bootstrap/js/bootstrap-tagsinput.js")
