extends layout

block content
  h1 #{title}

  p 用户：#{user.username}

  .container
    .row
      form.form-horizontal(method="post", action="/s-user-save") 个人设置
        input(type="hidden", name="user[username]", value=user.username)
        input(type="hidden", name="type", value="basic")

        .form-group
          label.col-sm-2.control-label(for="avatar") 头像  
          .col-sm-6
            if user.avatar
              img(src="/avatar/#{user.avatar}" width=50 height=50)
            input(type="file" name="avatar")

        .form-group
          label.col-sm-2.control-label(for="email") 邮箱
          .col-sm-6
            input.form-control(type="text", name="user[email]", value=user.email, required)

        .form-group
          .col-sm-offset-2.col-sm-6
            button.btn.btn-default(type="submit") 提交

      form.form-horizontal(method="post", action="/s-user-save") 修改密码
        input(type="hidden", name="user[username]", value=user.username)
        input(type="hidden", name="type", value="pwd")

        .form-group
          label.col-sm-2.control-label(for="pwdOriginal") 原密码
          .col-sm-6
            input.form-control(type="text", name="user[pwdOriginal]", required)

        .form-group
          label.col-sm-2.control-label(for="pwdNew") 新密码
          .col-sm-6
            input.form-control(type="text", name="user[pwdNew]", required)

        .form-group
          label.col-sm-2.control-label(for="pwdNewConfirm") 确认密码
          .col-sm-6
            input.form-control(type="text", name="user[pwdNewConfirm]", required)

        .form-group
          .col-sm-offset-2.col-sm-6
            button.btn.btn-default(type="submit") 提交


      form.form-horizontal(method="post", action="/s-user-save") 真实信息
        input(type="hidden", name="user[username]", value=user.username)
        input(type="hidden", name="type", value="realInfo")

        .form-group
          label.col-sm-2.control-label(for="real_name") 真实姓名
          .col-sm-6
            input.form-control(type="text", name="user[real_name]", value=user.email, required)

        .form-group
          label.col-sm-2.control-label(for="phone_num") 联系方式
          .col-sm-6
            input.form-control(type="text", name="user[phone_num]", value=user.email, required)

        .form-group
          .col-sm-offset-2.col-sm-6
            button.btn.btn-default(type="submit") 提交
